#------------------------------------------------------------------------
# Load Environment Variables from .env (if files exists)
#------------------------------------------------------------------------
if [ -e .env ]; then
    source .env
fi
